@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
  font-family: 'Poppins', 'sans-serif';
}
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); 
  display: flex; 
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}


.modal-content {
  background: white;
  padding: 30px;
  border-radius: 8px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}


.modal-content label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}
.modal-content input[type="text"],
.modal-content input[type="datetime-local"],
.modal-content textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}

.modal-content button {
  margin-right: 10px;
  margin-top: 15px;
  padding: 10px 15px;
  cursor: pointer;
}

.box{
  height: 200px;
  width: 100%;
  background-color: #20232A;
  color: white;
}
.box1{
  display: flex;
  justify-content: space-between;

}

.box p{
  text-align: end;
  padding-top: 20px;
  padding-right: 10px; 
}

.tag-box{
  display: flex;
  justify-content: right;
}

.tag-box a{
  padding-right: 20px;
  text-decoration: none;
  color: #37b8fb;
}

.tag-box a:hover{
  color: #dbe8f8;
  text-decoration: underline;
}

.mail{
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.mail:hover{
  color: #37b8fb; 
}

.name{
  padding-left: 10px;
}

.text{
  font-size: 14px;
  text-align: start;
}

